@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.TUTORS{
    background-image: url("https://media.istockphoto.com/id/1396126212/vector/abstract-blurred-background-defocused-pink-gradient.jpg?s=612x612&w=0&k=20&c=JpPHzLqega29qkVu35JShqDeWD2PFUhoLcGMYu7A6GM=");
    background-size: cover;
}

.header{
    letter-spacing:  1px;
}

.ourTutorscard{
    border: #2f5bab solid 1px;
    background-color: rgba(245, 245, 245, 0.4); 
}

.cardimg{
    height: 160px;
    width: 50%;
    border-radius: 100px;
}

.ourTutorsname{
    color: #2f5bab;
    font-weight: 400;
    letter-spacing: 2px;
}

.ourTutorscourse{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
}

.cardicon{
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
