.TUTORS{
    background-color: pink;   
}

.header{
    letter-spacing:  1px;
}

.ourTutorscard:hover{
    background-color: #e8e2e2;
   transform: scaleY(1.1); 
}

.ourTutorscard{
    background-color: #fdf4f4;
}

.ourTutorsname{
    position: absolute;
    right: 15px;
    top: 20px;
    color: #2f5bab;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: small;
}

.ourTutorscourse{
    font-weight: bold;
    font-size: small;
    letter-spacing: 1.5px;
}

.cardicon{
    cursor: pointer;
    font-weight: 600;
}